* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}
/* general styling */
h1 {
  font-family: Copperplate, "Palatino Linotype", "Book Antiqua", 'Times New Roman', Times, serif;
  font-size: 60px;
  font-style: bold;
  line-height: 20px;
}
h2 {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: bold;
}
h3 {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
  color: #A00000;
}
p {
  text-decoration: none;
}
/* header */
#masthead {
  padding-left: 1%;
}
header {
  position: fixed;
  clear: both;
  line-height: 15px;
  padding-top: 2px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: white;
  background: navy;
  text-align: center;
  border-top: 3px solid #A00000;
  border-bottom: 3px solid #A00000;
  width: 100%;
}
#girls-logo {
  float: left;
  vertical-align: center;
  padding-top: 0px;
  padding-right: 1%;
}
.girls-logo-masthead {
  float: left;
  margin-left: 20px;
  height: 60px;
  width: 45px;
}
.masthead {
  font-size: 34px;
  padding-top: 20px;
  text-align: center;
}
.fa-bars {
  margin-top: 3px;
  margin-bottom: 9px;
}
.topnav {
  overflow: hidden;
  background-color: navy;
  position: relative;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  background: navy;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color: white;
  color: navy;
}
.active {
  color: white;
}
/* content */
.content {
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 40px;
  color: navy;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
